@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    font-family: 'Audiowide', 'Lucida Console', monospace;
}

#grid {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
}

.gridLight {
    background-color: white;
    border: 3px solid black;
}

.gridDark {
    background-color: black;
    border: 3px solid white;
}

.square {
    box-sizing: border-box;
}

#mode {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 6px;

}
  
#mode:hover {
    background-color: gray;
}

.lightMode {
    background-color: white;
    color: black;
}

.darkMode {
    background-color: black;
    color: white;
}